@black-color: #222222;
@bold-font-weight: bold;
@none: none;

.inline-block-display() {
    display: inline-block;
}

.text-decoration-none() {
    text-decoration: @none;
}

.navbar {
    background-color: @black-color;
    z-index: 1000;
    border: 1px solid transparent;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

.navbar-header {
    float: left;
    padding: 8px;
    .inline-block-display();

    .navbar-brand {
        color: #999999;
        .text-decoration-none();
        padding-top: 9%;
        font-weight: @bold-font-weight;
        padding-left: 0;
    }
}

.navbar-nav {
    li {
        clear: both;
        padding: 8px;
        float: none;
        .inline-block-display();

        a {
            .text-decoration-none();
            color: #999999;
            padding: 10px;
            font-weight: @bold-font-weight;
        }
    }
}

.container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 80%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    .inline-block-display();
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: @black-color;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

h2, .h2 {
    font-size: 30px;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 1.1;
}

.editor-label {
    font-weight: @bold-font-weight;
}

.dl-horizontal {
    dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        white-space: nowrap;
        font-weight: @bold-font-weight;
    }

    dd {
        margin-left: 180px;
    }
}

.table {

    thead, tbody, tfoot {
        > tr {
            > td, > th {
                padding: 8px;
                line-height: 1.428571429;
                vertical-align: top;
                border-top: 1px solid #dddddd;
            }
        }
    }

    a {
        &:visited {
            color: @black-color;
            font-weight: @bold-font-weight;
            .text-decoration-none();
        }

        &:link {
            color: @black-color;
            font-weight: @bold-font-weight;
            .text-decoration-none();
        }

        &:active, &:hover {
            color: #bd5a35;
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width: 965px),(min-device-width: 965px) and (max-device-width: 1024px) {


    .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .table {
        display: block;

        thead, tbody, th, td, tr {
            display: block;

            > tr {
                > td, > th {
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                }
            }
        }

        tbody {
            &:first-child {
                th {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }
        }
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;

        &:before { /* Now like a table header */
            position: absolute; /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        &:nth-of-type(1):before {
            content: "First Name";
        }

        &:nth-of-type(2):before {
            content: "Last Name";
        }

        &:nth-of-type(3):before {
            content: "Email";
        }

        &:nth-of-type(4):before {
            content: "Address";
        }

        &:nth-of-type(5):before {
            content: "Phone number";
        }

        &:nth-of-type(6):before {
            content: "Company";
        }

        &:nth-of-type(7):before {
            content: "Designation";
        }
    }
}

/*.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media(min-width:965px){
    .navbar-toggle{
        display:none;
    }
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333333;
}
.navbar-inverse .navbar-toggle {
    border-color: #333333;
}
.navbar-inverse .navbar-nav > li > a {
    color: #999999;
}


.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
a {
    color: #428bca;
    text-decoration: none;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
    color: #999999;
}
.navbar-inverse .navbar-nav > li > a {
    color: #999999;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}*/
