.navbar {
    background-color: #222222;
    z-index: 1000;
    border: 1px solid transparent;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

.navbar-header {
    float: left;
    padding: 8px;
    display: inline-block;

    .navbar-brand {
        color: #999999;
        text-decoration: none;
        padding: 15px;
        font-weight: bold;
        padding-left: 0;
    }
}

.nav {
    li {
        clear: both;
        padding: 8px;
        display: inline-block;

        a {
            text-decoration: none;
            color: #999999;
            padding: 10px;
            font-weight: bold;
        }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0;
}

table {
    font-size: 12px;
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;

    th {
        padding: 21px 25px 22px 25px;
    }
        tr {
    padding-left: 20px;
}    
        td {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
a {
        &:visited {
            color: #999999;
            font-weight: bold;
            text-decoration: none;
        }

        &:link {
            color: #666;
            font-weight: bold;
            text-decoration: none;
        }

        &:active, &:hover {
            color: #bd5a35;
            text-decoration: underline;
        }
    }
}
