<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tombola.Core.Data.Properties.Settings.MVCConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MVCLINQTOSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tombola.Core.Data.Properties.Settings.MVCLINQTOSQLConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MVCLINQTOSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Tombola.Core.Data.Properties.Settings.MVCLINQTOSQLConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MVCLINQTOSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>